# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE/editor
.vscode/
.idea/

# Logs y temporales
*.log
.DS_Store
*.swp

# Distribuciones / builds
dist/
build/
*.egg-info/